<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.galeriadomuseudomjoaovi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />  
    
     <!-- Codigo para utilizacao dos mapas - Inicio -->
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
      
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
	<!-- The following two permissions are not required to use
     Google Maps Android API v2, but are recommended. -->
	
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
	<!-- Codigo para utilizacao dos mapas - Inicio -->
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Codigo para utilizacao dos mapas - Inicio -->
        <meta-data
    		android:name="com.google.android.gms.version"
    		android:value="@integer/google_play_services_version" />
        <!-- Codigo para utilizacao dos mapas - Fim -->
        
        <activity
            android:name="com.example.galeriadomuseudomjoaovi.MainActivity"
            android:label="@string/app_name" >
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.galeriadomuseudomjoaovi.Contatos"
            android:label="@string/title_activity_contatos" >
        </activity>
        <activity
            android:name="com.example.galeriadomuseudomjoaovi.ComoChegar"
            android:label="@string/title_activity_como_chegar" >
        </activity>
        <activity
            android:name="com.example.galeriadomuseudomjoaovi.ExibirImagem"
            android:label="@string/title_activity_exibir_imagem" >
        </activity>
        <activity
            android:name="com.example.galeriadomuseudomjoaovi.Galeria"
            android:label="@string/title_activity_galeria" >
        </activity>
        <activity
            android:name="com.example.galeriadomuseudomjoaovi.PaginaInicial"
            android:label="@string/title_activity_pagina_inicial" >
        </activity>
        <activity
            android:name="com.example.galeriadomuseudomjoaovi.Tour"
            android:label="@string/title_activity_tour" >
        </activity>
        
        <!-- Codigo para utilizacao dos mapas - Inicio -->
        <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyBI4oEu7k-FWNXjUY0YAf3G9tcVvDSh4UI"/>
        <!-- Codigo para utilizacao dos mapas - Fim -->
        
    </application>

</manifest>
