<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.galeriadomuseudomjoaovi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />   

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.galeriadomuseudomjoaovi.MainActivity"
            android:label="@string/app_name" >
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.galeriadomuseudomjoaovi.Contatos"
            android:label="@string/title_activity_contatos" >
        </activity>
        <activity
            android:name="com.example.galeriadomuseudomjoaovi.ComoChegar"
            android:label="@string/title_activity_como_chegar" >
        </activity>
        <activity
            android:name="com.example.galeriadomuseudomjoaovi.ExibirImagem"
            android:label="@string/title_activity_exibir_imagem" >
        </activity>
        <activity
            android:name="com.example.galeriadomuseudomjoaovi.Galeria"
            android:label="@string/title_activity_galeria" >
        </activity>
        <activity
            android:name="com.example.galeriadomuseudomjoaovi.PaginaInicial"
            android:label="@string/title_activity_pagina_inicial" >
        </activity>
        <activity
            android:name="com.example.galeriadomuseudomjoaovi.Tour"
            android:label="@string/title_activity_tour" >
        </activity>
    </application>

</manifest>
